<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allow-root</key>
	<true/>
	<key>class</key>
	<string>user</string>
	<key>comment</key>
	<string>Checked by the Admin framework when making changes to certain System Preferences.</string>
	<key>default-button</key>
	<dict>
		<key>ar</key>
		<string>تعديل الإعدادات</string>
		<key>ca</key>
		<string>Modificar la configuració</string>
		<key>cs</key>
		<string>Změnit nastavení</string>
		<key>da</key>
		<string>Juster indstillinger</string>
		<key>de</key>
		<string>Einstellungen ändern</string>
		<key>el</key>
		<string>Τροποποίηση ρυθμίσεων</string>
		<key>en</key>
		<string>Modify Settings</string>
		<key>es</key>
		<string>Modificar ajustes</string>
		<key>fi</key>
		<string>Muokkaa asetuksia</string>
		<key>fr</key>
		<string>Modifer les réglages</string>
		<key>he</key>
		<string>ערוך/י הגדרות</string>
		<key>hr</key>
		<string>Preinači postavke</string>
		<key>hu</key>
		<string>Beállítások módosítása</string>
		<key>it</key>
		<string>Modifica impostazioni</string>
		<key>ja</key>
		<string>設定を変更</string>
		<key>ko</key>
		<string>설정 수정</string>
		<key>nb</key>
		<string>Endre innstillinger</string>
		<key>nl</key>
		<string>Wijzig instellingen</string>
		<key>pl</key>
		<string>Zmień ustawienia</string>
		<key>pt</key>
		<string>Modificar Ajustes</string>
		<key>pt-PT</key>
		<string>Modificar definições</string>
		<key>ro</key>
		<string>Schimbă configurările</string>
		<key>ru</key>
		<string>Модифицировать настройки</string>
		<key>sk</key>
		<string>Upraviť nastavenia</string>
		<key>sv</key>
		<string>Ändra inställningar</string>
		<key>th</key>
		<string>แก้ไขค่าติดตั้ง</string>
		<key>tr</key>
		<string>Ayarları Değiştir</string>
		<key>uk</key>
		<string>Змінити параметри</string>
		<key>zh-Hans</key>
		<string>修改设置</string>
		<key>zh-Hant</key>
		<string>修改設定</string>
	</dict>
	<key>default-prompt</key>
	<dict>
		<key>ar</key>
		<string>يحاول __APPNAME__ تعديل إعدادات النظام الخاص بك.</string>
		<key>ca</key>
		<string>__APPNAME__ està intentant modificar la configuració del sistema.</string>
		<key>cs</key>
		<string>__APPNAME__ se pokouší změnit systémová nastavení.</string>
		<key>da</key>
		<string>__APPNAME__ forsøger at ændre systemindstillingerne.</string>
		<key>de</key>
		<string>__APPNAME__ versucht, Ihre Systemeinstellungen zu ändern.</string>
		<key>el</key>
		<string>Η εφαρμογή __APPNAME__ προσπαθεί να τροποποιήσει τις ρυθμίσεις του συστήματός σας.</string>
		<key>en</key>
		<string>__APPNAME__ is trying to modify your system settings.</string>
		<key>es</key>
		<string>__APPNAME__ está intentando modificar los ajustes del sistema.</string>
		<key>fi</key>
		<string>__APPNAME__ yrittää muokata järjestelmän asetuksia.</string>
		<key>fr</key>
		<string>__APPNAME__ essaye de modifier vos réglages de système.</string>
		<key>he</key>
		<string>״ __APPNAME__״ מבקש לערוך שינויים את ההגדרות במחשב.</string>
		<key>hr</key>
		<string>__APPNAME__ pokušava preinačiti vaše postavke sustava.</string>
		<key>hu</key>
		<string>A(z) __APPNAME__ megpróbálja módosítani a rendszerbeállításokat.</string>
		<key>it</key>
		<string>__APPNAME__ sta cercando di modificare le impostazioni del sistema.</string>
		<key>ja</key>
		<string>__APPNAME__ は、システムの設定を変更しようとしています。</string>
		<key>ko</key>
		<string>__APPNAME__이(가) 사용자의 시스템 설정을 변경하려고 합니다.</string>
		<key>nb</key>
		<string>__APPNAME__ prøver å endre systeminnstillingene.</string>
		<key>nl</key>
		<string>__APPNAME__ probeert uw systeeminstellingen te wijzigen.</string>
		<key>pl</key>
		<string>__APPNAME__ próbuje zmienić ustawienia systemowe.</string>
		<key>pt</key>
		<string>__APPNAME__ está tentando modificar seus ajustes do sistema.</string>
		<key>pt-PT</key>
		<string>O __APPNAME__ está a tentar modificar as definições do sistema.</string>
		<key>ro</key>
		<string>__APPNAME__ încearcă să schimbe configurările dvs. de sistem.</string>
		<key>ru</key>
		<string>Программа «__APPNAME__» пытается модифицировать Ваши системные настройки.</string>
		<key>sk</key>
		<string>__APPNAME__ sa pokúša upraviť vaše systémové nastavenia.</string>
		<key>sv</key>
		<string>__APPNAME__ försöker ändra systemets inställningar.</string>
		<key>th</key>
		<string>__APPNAME__ กำลังพยายามแก้ไขค่าติดตั้งระบบของคุณ</string>
		<key>tr</key>
		<string>__APPNAME__, sistem ayarlarınızı değiştirmeye çalışıyor.</string>
		<key>uk</key>
		<string>Програма «__APPNAME__» намагається змінити ваші системні параметри.</string>
		<key>zh-Hans</key>
		<string>“__APPNAME__”正试图修改您的系统设置。</string>
		<key>zh-Hant</key>
		<string>“__APPNAME__”正在嘗試修改您的系統設定。</string>
	</dict>
	<key>group</key>
	<string>admin</string>
	<key>shared</key>
	<true/>
</dict>
</plist>
