<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allow-root</key>
	<true/>
	<key>class</key>
	<string>user</string>
	<key>comment</key>
	<string>This right is checked by the Admin framework when making changes to the system preferences.
Credentials remain valid forever.
An acquired credential is shared amongst all clients.
If the proccess that created the AuthorizationRef has uid = 0 this right will automatically be granted.</string>
	<key>group</key>
	<string>admin</string>
	<key>mechanisms</key>
	<array>
		<string>builtin:authenticate</string>
	</array>
	<key>shared</key>
	<true/>
</dict>
</plist>
